/* HOMEPAGE_HEADER */



/* icon 1 */
.ic_cloud_cls-1,.ic_cloud_cls-2,.ic_cloud_cls-3{fill:none;stroke:#000;stroke-linecap:round;}.ic_cloud_cls-1,.ic_cloud_cls-2{stroke-miterlimit:10;}.ic_cloud_cls-1,.ic_cloud_cls-3{stroke-width:10px;}.ic_cloud_cls-2{stroke-width:20px;}.ic_cloud_cls-3{stroke-linejoin:round;}

/* icon 2 */
.ic_cog_cls-1,.ic_cog_cls-2,.ic_cog_cls-3,.ic_cog_cls-4{fill:none;stroke:#000;stroke-linejoin:round;}.ic_cog_cls-1{stroke-width:20px;}.ic_cog_cls-2{stroke-width:10px;}.ic_cog_cls-3{stroke-width:5px;}.ic_cog_cls-4{stroke-width:14px;}

/* icon 3 */
.ic_lock_cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:20px;}

/* icon 4 */
.ic_mit_cls-1,.ic_mit_cls-2,.ic_mit_cls-3{fill:none;stroke:#000;stroke-linejoin:round;}.ic_mit_cls-1,.ic_mit_cls-3{stroke-width:20px;}.ic_mit_cls-2,.ic_mit_cls-3{stroke-linecap:round;}.ic_mit_cls-2{stroke-width:10px;}


.footer_logo {
  fill: #00d1ea;
  fill-rule: evenodd;
}

.sm_icon {
  fill: #3fb1c6;
  fill-rule: evenodd;
  opacity: 0.6;
}
